<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Shopper2019.UI.Properties.Settings.Shopper2019DbConnectionString"
            connectionString="Data Source=LAPTOP\SQLEXPR;Initial Catalog=Shopper2019Db;Persist Security Info=True;User ID=sa;Password=12trzy"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>